  
  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form page</title>
</head>
<body bgcolor="lightblue">

    <a href="/actor/home"> HOME </a>  | 
    <a href="/actor/form"> FORM </a>    |  
    <a href="/actor/display"> DISPLAY </a>    |  
    <a href="/actor/search"> SEARCH </a>    | 

    <h1> this is our actors page form</h1>

    <form action="/actor/data" method="post">

        name: <input type="text" name="name"> <br> <br> 
        age: <input type="text" name="age"> <br> <br> 
        city: <input type="text" name="city"> <br> <br>  
        height: <input type="text" name="height"> <br> <br>  

        <button> submit </button>
    </form>
    
</body>
</html>
