<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>

<body bgcolor="lightyellow">

    <a href="/actor/home"> HOME </a>  | 
    <a href="/actor/form"> FORM </a>    |  
    <a href="/actor/display"> DISPLAY </a>    |  
    <a href="/actor/search"> SEARCH </a>    |  
    <a href="/actor/update"> UPDATE </a>    |  


    <h1> welcome to home page </h1>

    <h2> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, sint quisquam possimus quae recusandae
        dolores nam itaque temporibus similique? Temporibus quibusdam omnis distinctio fuga id eveniet error, odio hic
        quisquam!
    </h2>

    <% if (message) { %>
        <p style="color: blue;">
            <%= message %>
        </p>
    <% } %>

</body>

</html> 
