  
  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display page</title>
</head>
<body bgcolor="lightyellow">

    <a href="/actor/home"> HOME </a>  | 
    <a href="/actor/form"> FORM </a>    |  
    <a href="/actor/display"> DISPLAY </a>    |  
    <a href="/actor/search"> SEARCH </a>    |  
    <a href="/actor/update"> UPDATE </a>    |  

    <h2> Search actor details here only  ...</h2> 

    <form action="/actor/search" method="post">
        serach name : <input style="padding: 3px 6px;" type="text" name="naam">
        <button> srch it.. </button>
    </form>
    <table border="1">
        <tr>
            <th>name </th>
            <th>age</th>
            <th>city</th>
            <th>height</th>
        </tr>

        <% 
            Data.forEach( (val)=> {
                %>
                    <tr>
                        <td> <%= val.name   %></td>
                        <td> <%= val.age  %></td>
                        <td> <%= val.city  %></td>
                        <td> <%= val.height  %></td>
                    </tr>
                <%
            })
        %>
    </table>
    
</body>
</html>
