<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>service page</title>
</head>
<body bgcolor="gray">
    
    <h1> hello I am services page of school. </h1>

</body>
</html>